.physic-cont{
    border: 1px solid rgb(250, 205, 81);
    margin: 37px 4%;
    background-color: rgba(248, 248, 248, 0.397);
}
.cheptername{
    border: 2px solid  rgb(0, 0, 0);
    padding: 2%;
    margin: 25px;
}
h1{
    text-align: center;
}
.logo {
    color: rgb(245, 131, 24);
    text-decoration: none;
    font-size: 37px;
    margin-left: 15px;
}

span {
    font-size: 15px;
}
#phy{
    font-size: 30px;
    padding:0 22%;
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
}